table.users {
  img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
}

.user-detail {
  img {
    float: left;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 25px;
  }

  .details {
  }
}
