<div ng-if="!vm.user">Loading...</div>
<div ng-if="vm.user" class="container user-detail">
  <div class="jumbotron">
    <img ng-src="{{vm.user.avatar_url}}" />

    <div class="details">
      <h2>{{vm.user.login}}</h2>
      <p>{{vm.user.name ? vm.user.name : 'No name listed...'}}</p>
      <p>{{vm.user.email ? vm.user.email : 'No email listed...'}}</p>
      <p>Repos: {{vm.user.public_repos}}</p>
    </div>
  </div>

  <a class="btn btn-default" ng-link="['Users']">
    <span class="glyphicon glyphicon-chevron-left"></span> All Users
  </a>
</div>
